body{
    text-align: center;
    background-color: #607d8b;
}
#gameScreen{
    border: 2px solid black;
    background-color: black;
    box-shadow: black 10px 10px 50px;
    
}

#gameAssets{
    display: none;
}